<h3>カテゴリから写真を探す</h3>
<div class="category_list">
<ul id="cate_list_box">
{% for store_subcategory in  store_subcategories if store_subcategory.priority_level == 1 %}
<li>
<a href="{{ path('photocreate_event.event_subcategory.detail', { 'subcategoryId': store_subcategory.subcategory_id }) }}">
<span class="genre ballet">{{ store_subcategory.subcategory.name }}</span>
<span class="site_name"><img src="/img/common/logo.png" width="114"></span>
</a>
</li>
{% endfor %}
{% for store_subcategory in  store_subcategories if store_subcategory.priority_level == 2 %}
<li>
<a href="{{ path('photocreate_event.event_subcategory.detail', { 'subcategoryId': store_subcategory.subcategory_id }) }}">{{ store_subcategory.subcategory.name }}</a>
</li>
{% endfor %}
<li>
<a href="{{ path('photocreate_event.event_subcategory.list') }}">カテゴリ一覧</a>
</li>
</ul>
<button id="all_cate_btn"><span>すべてのカテゴリを見る</span></button>
</a>
</div>
